<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div th:replace="~{menu :: menu}"></div>
    <hr>
    <h1>Mozi adatbázis</h1>

    <p>
        Filmek, mozik és előadások adatainak megjelenítése
        Spring Boot alkalmazásban.
    </p>
    <div sec:authorize="isAuthenticated()">
        <p>Logged in user:<strong sec:authentication="name"></strong></p>
    </div>
</body>
</html>